apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluentd
  namespace: efk
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: fluentd
rules:
- apiGroups: [""]
  resources: ["namespaces", "pods"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["nodes", "nodes/proxy"]
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fluentd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: fluentd
subjects:
- kind: ServiceAccount
  name: fluentd
  namespace: efk
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: efk
data:
  fluent.conf: |
    <system>
      log_level info
    </system>
    
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type json
        time_format %Y-%m-%dT%H:%M:%S.%NZ
      </parse>
    </source>
    
    <source>
      @type systemd
      tag host.*
      path /run/log/journal
      read_from_head true
      <match>
        _SYSTEMD_UNIT=kubelet.service
        _SYSTEMD_UNIT=containerd.service
      </match>
      <parse>
        @type systemd
      </parse>
    </source>
    
    <filter kubernetes.*>
      @type kubernetes_metadata
      @id filter_kube_metadata
    </filter>
    
    <filter kubernetes.**>
      @type record_transformer
      @id filter_transformer
      <record>
        cluster "kubernetes"
        type "container"
        hostname "${host}"
      </record>
    </filter>
    
    <filter host.**>
      @type record_transformer
      @id filter_host_transformer
      <record>
        cluster "kubernetes"
        type "host"
        hostname "${host}"
      </record>
    </filter>
    
    <match **>
      @type elasticsearch
      @id output_es
      hosts elasticsearch:9200
      logstash_format true
      logstash_prefix kubernetes
      include_tag_key true
      tag_key @log_name
      flush_interval 5s
      <buffer>
        @type memory
        chunk_limit_size 2M
        queue_limit_length 32
        flush_mode interval
        retry_type exponential_backoff
        retry_wait 1s
        retry_max_interval 60s
        retry_timeout 12h
        num_threads 2
      </buffer>
    </match>
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd
  namespace: efk
spec:
  selector:
    matchLabels:
      app: fluentd
  template:
    metadata:
      labels:
        app: fluentd
    spec:
      serviceAccountName: fluentd
      containers:
      - name: fluentd
        image: fluent/fluentd-kubernetes-daemonset:v1.16.2-debian-elasticsearch7-1
        env:
        - name: FLUENTD_CONF
          value: /fluentd/etc/fluent.conf
        - name: FLUENT_ELASTICSEARCH_HOST
          value: elasticsearch
        - name: FLUENT_ELASTICSEARCH_PORT
          value: "9200"
        - name: FLUENT_ELASTICSEARCH_SCHEME
          value: http
        - name: FLUENT_UID
          value: "0"
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
        volumeMounts:
        - name: fluentd-config
          mountPath: /fluentd/etc/fluent.conf
          subPath: fluent.conf
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: runlog
          mountPath: /run/log/journal
          readOnly: true
      volumes:
      - name: fluentd-config
        configMap:
          name: fluentd-config
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: runlog
        hostPath:
          path: /run/log/journal
